.final{
    color: green;
    font-weight: bolder;
}

.container{
    background-image: linear-gradient(to right,#fccb44,#fa8347);
    padding: 10px;
    text-align: center;
    height: 400px;
}

.display{
    color: rgb(28, 75, 206);
    font-size: 35px;
    margin-top: 55px;
}

#p1-display{
    border: 1px solid rgb(19, 165, 104);
    border-radius: 5px;
    padding: 5px;
    font-size: 45px;
}

#p2-display{
    border: 1px solid rgb(19, 165, 104);
    border-radius: 5px;
    padding: 5px;
    font-size: 45px;
}

.max-container{
    font-size: 24px;
    font-weight: bold;
    color: rgb(64, 0, 92);
    font-family: Arial, Helvetica, sans-serif;
}

#max-score-display{
    font-size: 30px;
}

#button-display{
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

#max-score-button{
    height: 20px;
    text-align: center;
    font-size: 20px;
}

.but{
    font-weight: 600;
}

.but:hover{
    background-color: #08867c;
    color: #38ef7d;
}

#reset:hover{
    background-color: red;
    color: rgb(29, 255, 86);
}